#top-bar{
    background-color: #0073be;
}

ul {
    display: inline-flex; 
    margin-top: 1em;
}

li{
    display: flex;
    text-decoration: none; 
    color: black; 
    font-weight: 400; 
    font-size: 17px;
}
/* Estilo para el contenedor de la izquierda (70%) */
.left-container {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Estilo para la descripción de la sección */
.section-description {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.section-description strong {
  font-weight: bold;
}

/* Estilo para el contenedor de la derecha (30%) */
.right-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Estilos adicionales para hacerlo visualmente atractivo */
h1 {
  font-size: 24px;
  text-align: left; /*Alinea el texto a la izquierda */
}

p {
  font-size: 12px; /* Tamaño de fuente */
  text-align: left; /* Alinea el texto a la izquierda */
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 0; /* Elimina el relleno predeterminado */
  line-height: 1.5; /* Espacio entre líneas uniforme para una mejor legibilidad */

}
/* Estilo para el título de la descripción */
.left-container h2 {
  font-size: 18px;
  margin-top: 0; /* Elimina el margen superior predeterminado */
  text-align: left; /*Alinea el texto a la izquierda */
  color: #333; /* Color del texto del título */
}

/* Estilos para el footer */
footer {
  background-color: #0073be;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%; /* Ancho completo de la página */
  position: fixed;
  bottom: 0; /* Se coloca en la parte inferior de la página */
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px; /* Ancho máximo del contenido del footer */
  margin: 0 auto; /* Centra el contenido del footer horizontalmente */
}

.footer-item {
  flex: 1;
  padding: 0 10px;
}

.footer-item h4 {
  font-size: 18px;
}

.footer-item h5 {
  font-size: 55px;
}

.footer-item ul {
  list-style: none;
  padding: 0;
}

.footer-item ul li {
  margin-bottom: 8px;
}

.footer-item ul li a {
  color: #fff;
  text-decoration: none;
}